.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 120px 60px 60px; /* space for navbar */
  min-height: 100vh;

  background: #f5ebe0;
}

/* LEFT TEXT */
.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  color: #3e2723;
}

.hero-left p {
  font-size: 22px;
  margin: 20px 0;
  font-family: 'Great Vibes', cursive;
  color: #6d4c41;
}

.hero-left button {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #3e2723;
  color: white;
  cursor: pointer;
}

/* RIGHT IMAGE */
.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 90%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}
/* 🔥 HERO IMAGE ANIMATION */
.hero-right img {
  animation: floatZoom 6s ease-in-out infinite;
}

@keyframes floatZoom {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}