@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Great+Vibes&display=swap');

body {
  margin: 0;
  background: #f5ebe0;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden; /* prevents horizontal scroll */
}